.device__body {
  justify-content: space-between;
  align-items: center;

  & > div {
    width: 47%;
  }

  .img {
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  .info__card {
    padding: 5px;
    font-size: 32px;
    align-self: stretch;
    border: 5px solid lightgray;
    text-align: center;

    .title {
      margin-top: 5px;
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .info__card {
    font-size: 26px;
    border: 2px solid lightgray;

    .title {
      font-size: 19px;
    }
  }
}

@media only screen and (max-device-width: 768px) {
  .info__card {
    font-size: 20px;
    border: 2px solid lightgray;

    .title {
      font-size: 16px;
    }
  }
}

@media only screen and (max-device-width: 480px) {
  .info__card {
    font-size: 12px;
    border: 2px solid lightgray;

    h3 {
      font-size: 18px;
    }

    .title {
      font-size: 13px;
    }

    .rating {
      font-size: 25px;
    }
  }
}
